body{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
}

.container {
    margin: 20px auto;
    background-color: rgb(29, 82, 27);
    height: 400px;
    width: 550px;
    border-radius: 6px;
}
.container-chatroom {
    margin: 20px auto;
    background-color: rgb(29, 82, 27);
    height: 500px;
    width: 750px;
    border-radius: 6px;
}

.chat {
    margin: auto;
    height: 49%;
    width: 79%;
}

.form-field {
    margin: 15% auto;
    text-align: center;
}

.title-logo {
    padding-top: 10px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

legend {
    color: #ccc;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 9px 10px;
    color: #fff;
    background-color: rgb(29, 160, 40);
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(27, 163, 50);
}

select {
    border: none;
}

ul {
    list-style-type: none;
}

.header {
    height: 5em;
    background-color: rgb(18, 114, 34);
}

.sidebar-menu {
    background-color: rgb(27, 163, 50);
    height: 22.28em;
    width: 20%;
    padding: 1em 0 0 1em;
    display: flex;
    flex-direction: column;
    float: left;
}
.room, .users {
    padding-top: 1rem;
}

li {
    padding-top: 0.5rem;
}

.message-board {
    float: right;
    height: 23.28em;
    width: 77.8%;
    background-color: #ccc;
    z-index: 1;
}

.message-input {
    height: 3em;
    width: 100%;
    background-color: #bbb;
    border-radius: 0 0 6px 6px;
    clear: both;
    display: flex;
    flex-direction: row;
}

#msg {
    padding: 0;
    margin: 0;
    width: 90%;
    height: 3.5em;
}
